* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#search_books_div {
    display: flex;
    justify-content: start;
    gap: 10px;
}


#search_content {
    display: flex;
    flex-direction: column;
}

#search_books {
    height: 40px;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-top: 20px;
}

#search_books:focus {
    outline: none;
    border: 1px solid #2563eb;
}

#home_btn {
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background: #2563eb;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

tr:hover {
    background: #f1f5f9;
}

.dropdow-btn {
    font-size: small;
    width: 5%;
    background-color: #2563eb;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}